@font-face {
    font-family: 'AvenirNextCyr';
    src: url('6o2fif5w.woff2') format('woff2'),
        url('v43jrlda.woff') format('woff'),
        url('_96exwkt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirNextCyr';
    src: url('wudbt_6w.woff2') format('woff2'),
        url('kkff2ed0.woff') format('woff'),
        url('0quajpwh.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirNextCyr';
    src: url('77_vwi7i.woff2') format('woff2'),
        url('vwlz5nem.woff') format('woff'),
        url('-2ouayl5.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirNextCyr';
    src: url('xi8q-0qq.woff2') format('woff2'),
        url('mxj7j6zt.woff') format('woff'),
        url('13mp1fgb.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}





